@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 300;
  /* src: local("IRANSans"); */
  src: url("./fonts/IRANSans.woff") format("woff"),
    /* IE6-8 */ url("./fonts/Material.woff2") format("woff2");
}
body {
  font-family: "IRANSans";
  /* direction: rtl; */
}
